body {
	background-color: black;
}

span {
	padding: 0px 2px;
}

#game {
	/* Center game board */
	margin: auto;
	text-align: center;
	line-height: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	/* Text style */
	font-family: monospace;
	font-weight: bolder;
	font-size: 1.5em;
	opacity: 0.6;
}

p.stat {
	color: orange;
	float: left;
}
